.crypto-coin {
    overflow: hidden;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    width: 320px;
    margin: 2rem;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    border: 2px solid #7dcaff;
}

.coin-logo {
    width: 8rem;
    margin-top: 1.2rem;
    height: 40px;
    width: 40px;
    clip-path: circle(60px at center);
}

.coin-name-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-weight: 700;
}

.coin-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.coin-symbol {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding-left: 8px;
}

.price-containerUP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    font-size: 1rem;
    color: white;
    padding: 1rem;
    background-color: #11d811;
}

.price-containerDOWN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    font-size: 1rem;
    color: white;
    padding: 1rem;
    background-color: #f00606;
}

svg {
    background-color: transparent;
}

.price-change {
    background-color: transparent;
    padding-left: 10px;
    text-shadow: 0 0 14px black;
}

.coin-price {
    width: auto;
    background-color: transparent;
}

.coin-marketcap {
    width: auto;
    padding-top: 8px;
    background-color: transparent;
}

.coin-volume {
    width: auto;
    padding-top: 6px;
    padding-bottom: 8px;
    background-color: transparent;
}

.add-coin, .remove-coin {
    display: inline-block;
}

.btn-add {
    background-color: #7dcaff;
    border: none;
    color: white;
    padding: 19px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:160px;
    cursor: pointer;
    margin-right: 1px;
  }
  .btn-remove {
    background-color: #7dcaff;
    border: none;
    color: white;
    padding: 19px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 160px;
    cursor: pointer;
  }

  .btns {
      display: flex;
  }